 /*CSS file style.css*/
 @font-face {
    font-family: 'test';
    url: src('test.otf');
    }
    
 body 
 {background-color: #dff3e3;
 text-align: left;}
h2
 { 
     color: #dff3e3;
 margin-top: 45px;
 font-size: 30px;
 width: 550px;
 height: 105px;
 padding: 15px 30px;
 margin-left: 32%;
 background-color: #d68060;
 text-align: center;}

 .teks
 {margin-left: 12% ;}

 h4
 {margin-left: 12%;}

 
 