 /*CSS file style.css*/
 @font-face {
    font-family: 'test';
    url: src('test.otf');
    }
    
 body 
 {background-color: #dff3e3;
 text-align: left;}
h2
 { 
     color: #dff3e3;
 margin-top: 20%;
 font-size: 175%;
 width: 35%;
 height: 10%;
 padding-left: 2%;
 padding-right: 2%;
 padding-top: 2%;
 padding-bottom: 2%;
 margin-top: 3%;
 margin-left: 32%;
 background-color: #d68060;
 text-align: center;}

 .teks
 {margin-left: 12% ;}

 h4
 {margin-left: 12%;}

 .pembuka
 {margin-top: 5%;
     margin-left: 12%;}

 
 